@import '../../scss/constants/responsive';

.Page {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $margin__md;
    box-sizing: border-box;
    overflow-y: scroll;

    // @media (min-width: $breakpoint__lg) {
    //     width: $breakpoint__lg;
    // }
}
