@import '../../scss/constants/responsive';

.Page {
    width: 100%;
    // height: calc(100vh - #{$height__appHeader});

    padding: 0 $margin__sm $margin__sm;
    box-sizing: border-box;
    overflow: hidden;
}
