@import '../../scss/constants/responsive';

.Main {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;

    // Selector for the Gatsby wrapper.
    & > :first-child {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
}
