@import '../../scss/constants/responsive';

.Header {
    width: 100%;
    box-sizing: border-box;
    padding: $margin__xs $margin__md;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint__md) {
        flex-direction: row;
    }
}
